@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$biru : #006EFF;
$biru_card : #ECF3FF;
$abu : #F3F3F3;
$abu2 : #F7F7F7;
$abu3 : #cecece;
$abu4 : #F0F0F0;
$abu5 : #D9D9D9;
$abu6 : #95979D;
$hijau : #149E48;

* {
    font-family: 'Montserrat', sans-serif;
}

.contain {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-white {
    background-color: white;
    border-radius: 15px;
    padding: 35px 30px;
    margin-bottom: 20px;
    border: 1px solid $abu3;
    font-size: 14px;

    h4 {
        font-weight: 600;
    }
}

.profile-completion {
    padding: 20px 30px 20px 30px;


    ::ng-deep .mat-progress-bar-fill::after {
        background-color: red;
    }

    ::ng-deep .mat-progress-bar {
        border-radius: 5px;
        height: 5px;
    }

    p {
        margin: 3px;

    }

    .check-green {
        color: $hijau;
    }

    .list-completion {
        color: $abu6;

        .active {
            color: black;
        }
    }
}

.personal-information {
    text-align: left;

    li {
        list-style: none;
        margin-bottom: 5px;
    }

    p {
        margin: 5px 0 5px 0;
    }



    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    @media (min-width: 768px) {
        .info-name {
            padding-left: 60px;
        }

        .info-img {
            margin-top: 30px;
        }
    }

    .info-name {

        .d-flex {

            color: $hijau;
        }

        .mat-icon {
            font-size: 18px;
        }

        p {
            margin-top: -1px;
        }
    }

    .info-img {
        img {
            width: 20px;
            height: 20px;
        }


        a {

            text-decoration: none;
        }
    }
}

.top-skills {

    .btn-exp {

        button {

            margin-right: 15px;
            margin-top: 10px;
            padding: 5px 20px 5px 20px;
        }
    }

}

.working-experiences,
.education,
.salary {

    button {
        img {
            width: 20px;
            height: 20px;
        }
    }

    h6 {
        font-weight: 600;
    }

    .user-job-detail {
        margin-top: 10px;
    }

    p {
        margin: 5px 0 5px 0;
    }

    img {
        width: 50px;
        height: 50px;
    }

    @media (min-width: 1200px) {
        .col-md-11 {
            margin-left: -1rem;
        }
    }

    ol {
        margin-left: 1rem;
        padding: 0;
    }

}