<section class="find-jobs">
    <div class="contain container-fluid">
        <div class="section-white">
            <div class="section-search-grey">
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field class="example-form-field container-fluid" appearance="fill">
                            <mat-label>Search for a job</mat-label>
                            <span matPrefix>
                                <mat-icon class="me-2 text-secondary">search</mat-icon> &nbsp;
                            </span>
                            <input matInput type="text" [(ngModel)]="value">
                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon style="border: none;">close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group-append">
                            <button class="btn btn-search bg-primary rounded-pill px-5 py-2 container-fluid mt-2"
                                type="button" id="button-addon2">Search</button>
                        </div>
                    </div>


                </div>
                <div class="row content">
                    <div class="col-md-12">
                        <div class="button-wrapper btn-container-left">

                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Location
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>


                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Job Type
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>


                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Job Function
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>

                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Date Posted
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-result pb-4 pt-2">
            <h1>Result for “Business”</h1>
            <h5>1-15 of 1.496 job matches</h5>
        </div>
        <div class="section-white" *ngFor="let job of listModel.recentJobs | paginate : config">
            <div class="card border-0">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-1 photo-border">
                                    <img src="assets/ideaco.png" alt="">
                                </div>
                                <div class="col-md-7">
                                    <h5><a routerLink="details/{{job.jobId}}" class="text-dark"> {{
                                            job.jobName
                                            }}
                                            <span class="badge ms-1"
                                                [ngStyle]="{'color': (job.jobPosition === 'Contractual') ? '#006EFF' : (job.jobPosition === 'Full time') ? 'green' : ''}">{{job.jobPosition}}</span>
                                        </a>
                                    </h5>
                                    <a href="" class="recruiter-company">
                                        {{ job.recruiterCompany }}
                                    </a>
                                    <p class="text-secondary pt-2">{{ job.jobAddress }}</p>
                                    <p>Rp {{ job.jobSalary }}</p>
                                    <span class="text-secondary">{{ job.createdAt }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-button">
                            <button type="button" class="btn btn-outline-primary rounded-pill" routerLink="/login">
                                <img src="assets/save.svg" alt="" class="filter-blue"> Save this
                                job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination text-center"></pagination-controls>
        <!-- <div class="row">
            <div class="col-md-12 py-3">
                <div class="text-center">
                    <button type="button" class="btn btn-outline-secondary rounded-pill me-1">
                        < Previous Page</button>
                            <button type="button" class="btn btn-primary rounded-pill ms-1">Next Page ></button>
                </div>
            </div>
        </div> -->


    </div>
</section>
<section class="jobseeker-quote" id="jobseeker-quote">
    <div class="container">
        <div class="row">
            <div class="banner-quote justify-content-center align-self-center">
                <h2 class="italic-quote ">“Opportunities don't happen, you create them”</h2>
                <h2>Find the career opportunity with Toptalent</h2>
                <button type="button" class="btn btn-biru rounded-pill px-5 mt-4" routerLink="/login">Get
                    Hired Now</button>
            </div>
        </div>
    </div>
</section>
<section class="qr-section" id="qr-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 phone-content ">
                <img src="assets/phone.png" alt="">
            </div>
            <div class="col-md-7 qr-content ">
                <div class="row">
                    <div class="px-3 py-3">

                        <h2 class="fw-bolder">Your job-searching partner is always on your side </h2>
                        <h2>We are available on Mobile version. Grab your phone, download Toptalent App and get
                            hired!
                        </h2>
                    </div>
                </div>
                <div class="row">

                    <img src="assets/qr.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer">
    <svg class="svg-1" viewBox="0 0 1920 231" fill="none">
        <path
            d="M0 231C0 231 201.039 139.477 723.441 129.775C1245.84 120.073 1432.36 74.5933 1474.5 62.965C1516.64 51.3366 1669.26 1.15606 1920 0V231H0Z"
            fill="#006EFF" />
    </svg>
    <div class="footer-content px-5 py-5">
        <img src="assets/toptalent.png" alt="">
        <p>©2022 Toptalent. All Rights Reserved</p>
    </div>
</footer>