@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$biru : #006EFF;
$biru_card : #ECF3FF;
$abu : #F3F3F3;
$abu2 : #F7F7F7;
$abu3 : #cecece;
$abu4 : #F0F0F0;

* {
    font-family: 'Montserrat', sans-serif;
}