@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$biru : #006EFF;
$biru_card : #ECF3FF;
$abu : #F3F3F3;
$abu4 : #F0F0F0;

* {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 20px 40px 40px 40px;
    background-color: white;
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .container-fluid {
        padding-top: 80px
    }
}

.section-title {

    a {
        text-decoration: none;
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 8px;
    }

    .badge {
        background-color: $abu4;
    }

    @media (max-width: 767.98px) {
        .photo-border {
            margin-bottom: 20px;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {

        .photo-border {
            margin-right: 90px;
        }

        .container-fluid {
            padding-top: 70px
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .photo-border {
            margin-right: 70px;
        }
    }

    @media (min-width: 1200px) {
        .photo-border {
            margin-right: 30px;
        }
    }



    img {
        width: 120px;
    }

    .btn {

        img {
            filter: invert(25%) sepia(92%) saturate(2460%) hue-rotate(207deg) brightness(101%) contrast(105%);
        }
    }

    .btn:hover {

        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(263deg) brightness(103%) contrast(101%);
        }
    }

    .btn {
        margin-right: 15px;
        margin-top: 15px;

        img {
            margin-top: -5px;
            width: 20px;
            height: 20px;
        }

        .filter-blue {
            filter: invert(25%) sepia(92%) saturate(2460%) hue-rotate(207deg) brightness(101%) contrast(105%);
        }
    }

    @media (max-width: 767.98px) {
        .btn {
            padding-top: 10px;
            font-size: 10px;
            width: 33%;

            img {
                width: 15px;
            }
        }
    }
}

.icon {
    img {
        margin-right: 3px;
    }
}