@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet');

$gray: #333333;
$blue: #006EFF;

* {
    font-family: 'Montserrat', sans-serif;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.image-doc {
    position: relative;
    width: 250px;
    height: 250px;
    align-items: center;
    top: 60px;
}

.text-weight{
    font-weight: 600;
}

.text-weight2{
    font-weight: 500;
}

.hw1 {
    position: relative;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: $gray;
    text-align: center;
    bottom: 50px;
}

.hw2 {
    position: relative;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: $gray;
    text-align: center;
    bottom: 50px;
}

.p {
    margin-top: 28px;
}

.text-color{
    color: $blue;
}

.text-four{
    position: relative;
    right: 70px;
    bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}