<div class="modal-dialog">
    <div class="modal-content border-0">
        <div class="modal-header border-0">
            <h5 class="modal-title" id="exampleModalLabel">Edit Salary</h5>
            <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <form class="form-group" [formGroup]="salaryModel.formGroupEditSalary" (ngSubmit)="editSalary()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label  for="IDR" class="form-label">Current Monthly Salary</label>
                            <select formControlName="currentCurrency" id="Select" class="form-select">
                                <option>IDR - Rp</option>
                                <option>PHP - P</option>
                                <option>Poundsterling - £</option>
                                <option>USD - $</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"></label>
                            <input formControlName="currentSalary" type="number" class="form-control text-position1" id="exampleInputSalary"
                                placeholder="">
                            <p class="text-position">(nett) per month</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="select" class="form-label">Expected Monthly Salary</label>
                            <select formControlName="expectedCurrency" id="Select" class="form-select">
                                <option>IDR - Rp</option>
                                <option>PHP - P</option>
                                <option>Poundsterling - £</option>
                                <option>USD - $</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputSalary1" class="form-label"></label>
                            <input formControlName="expectedMinimum" type="number" class="form-control text-position1" id="exampleInputSalary"
                                placeholder="">
                            <p class="text-position">to</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputSalary2" class="form-label"></label>
                            <input formControlName="expectedMaximum" type="number" class="form-control text-position3" id="exampleInputSalary"
                                placeholder="">
                            <p class="text-position4">(nett) per month</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer border-0">
            <button (click)="activeModal.dismiss('Cross click')" class="btn btn-outline-primary rounded-pill px-5">
                Cancel
            </button>
            <button (click)="editSalary()" class="btn btn-primary rounded-pill px-5">
                Save
            </button>
        </div>
    </div>
</div>



<!-- <div class="modal-dialog">
    <div class="modal-content border-0">
        <div class="modal-header border-0">
            <h5 class="modal-title" id="exampleModalLabel">Edit Salary</h5>
            <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <form class="form-group" [formGroup]="salaryModel.formGroupEditSalary">
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label  for="IDR" class="form-label">Current Monthly Salary</label>
                            <select formControlName="currentCurrency" id="Select" class="form-select">
                                <option>IDR - Rp</option>
                                <option>PHP - P</option>
                                <option>Poundsterling - £</option>
                                <option>USD - $</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"></label>
                            <input formControlName="currentSalary" type="number" class="form-control text-position1" id="exampleInputSalary"
                                placeholder="">
                            <p class="text-position">(nett) per month</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="select" class="form-label">Expected Monthly Salary</label>
                            <select formControlName="expectedCurrency" id="Select" class="form-select">
                                <option>IDR - Rp</option>
                                <option>PHP - P</option>
                                <option>Poundsterling - £</option>
                                <option>USD - $</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputSalary1" class="form-label"></label>
                            <input formControlName="expectedMinimum" type="number" class="form-control text-position1" id="exampleInputSalary"
                                placeholder="">
                            <p class="text-position">to</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputSalary2" class="form-label"></label>
                            <input formControlName="expectedMaximum" type="number" class="form-control text-position3" id="exampleInputSalary"
                                placeholder="">
                            <p class="text-position4">(nett) per month</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer border-0">
            <button (click)="activeModal.dismiss('Cross click')" class="btn btn-outline-primary rounded-pill px-5">
                Cancel
            </button>
            <button (click)="postSalary()" class="btn btn-primary rounded-pill px-5">
                Save
            </button>
        </div>
    </div>
</div> -->