<div class="container">
    <div class="row row-centered">
        <div class="item">
            <div class="content">
                <img class="image-doc" src="assets/image/formPass.png" alt="image">
            </div>
            <div class="col-md-6 col-centered">
                <form class="form-group was-validated" [formGroup]="changePasswordModel.formGroupChangePassword" (ngSubmit)="newPassword()">
                    <p class="text-center hw1">
                        Input email & new password below
                    </p>
                    <div class="form-size">
                        <div class="form-group">
                            <input formControlName="email" type="email" class="form-control form-control-user"
                                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="youremail@mail.com"
                                required>
                            <div class="text-four"
                                *ngIf="!changePasswordModel.formGroupChangePassword.controls['email'].valid">
                                <span style="color: #EB5757;">A valid email is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input formControlName="password"  type="password" class="form-control form-control-user" id="exampleInputPassword"
                            placeholder="Create new password (Min. 8 Characters)" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9_]).{8,}" required="">
                            <div class="text-four2"
                            *ngIf="!changePasswordModel.formGroupChangePassword.controls['password'].valid">
                            <span style="color: #EB5757;">
                                Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters
                            </span>
                        </div>
                        </div>
                        <div class="form-group">
                            <input formControlName="confirmPassword" type="password" class="form-control form-control-user" 
                            id="exampleInput2Password" placeholder="Re-enter new password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9_]).{8,}" required="">   
                            <div class="text-four3" 
                            *ngIf="changePasswordModel.passwordMatchError()" role="alert">
                                <span style="color: #EB5757;"> Password does not match</span>    
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button (click)="toggleLoading()" class="font-style-btn btn btn-primary btn-user">
                                <img *ngIf="isLoading" style="width : 24px" src="assets/loading.gif" />
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
