@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet');

$gray: #333333;
$blue: #006EFF;

* {
    font-family: 'Montserrat', sans-serif;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.hw {
    margin-top: 30px;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;
}

.image-doc {
    width: 250px;
    height: 200px;
    align-items: center;
    top: 80px;
    margin-left: 40px;
}

.hw1 {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $gray;
    top: 60px;
    padding: 12px;
}

.p {
    margin-top: 28px;
}

.form-group {
    border-radius: 8px;
    margin-top: 12px;
    padding-left: 50px;
}

.form-control {
position: relative;
background-color: #EFF0F2;
border-color: #EFF0F2;
top: 55px;
}

.form-control-user {
font-size: 0.8rem;
border-radius: 8px;
height: 40px;
width: 400px;
}

.font-style-btn {
    position: relative;
    font-size: 15px;
    background-color: #ECF3FF;
    text-align: center;
    border-radius: 36px;
    width: 400px;
    margin-left: 12px;
    top: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #006EFF;
    border-color: #006EFF;
}


.btn-user {
    background: #006EFF;
    margin-top: 30px;
    margin-right: 140px;
    margin-left: 50px;
}

.btn-block {
    border-radius: 36px;
    height: 10px;
}
  
.btn-text {
text-align: center;
}

.text-four {
    position: relative;
    top: 60px;
    right: 148px;
    font-size: small;
    font-weight: 500;
}

.text-four2 {
    position: relative;
    top: 60px;
    font-size: small;
    font-weight: 500;
    text-align: left;
}

.text-four3 {
    position: relative;
    top: 60px;
    font-size: small;
    font-weight: 500;
    text-align: left;
}
  